@use "../util/" as *;

.navbar {
  padding: 15px 13px 20px 13px;
  @include breakpoint(md) {
    paading: 16px 18px 23px 18px;
  }
  @include breakpoint(lg) {
    padding: 28px 100px 33px 100px;
  }
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-home {
  font-family: var(--font-body);
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  @include breakpoint(lg) {
    font-size: 35px;
    line-height: 46px;
  }
}
.nav-logo {
  max-height: 22px;
  margin-right: 5px;
  @include breakpoint(lg) {
    max-height: 35px;
  }
}

.nav-list {
  padding-left: 0;
  margin: 0;
}

.nav-item {
  font-size: 11px;
  line-height: 13px;
  transition: border-bottom 200ms ease-in-out, color 200ms ease-in-out;
  margin: 5px;
  padding: 5px 10px;
  letter-spacing: 1.275px;
  @include breakpoint(lg) {
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
    margin: 0 7.5px;
    border-width: 5px !important;
  }
  &:last-child {
    padding: 6px 14px;
    @include breakpoint(md) {
      margin-left: 15px;
    }
    @include breakpoint(lg) {
      padding: 10px 20px;
      margin-left: 30px;
    }
  }
}

.nav-link {
  padding: 0;
  margin: 0;
}

// .nav-button {
//   padding: 6px 14px;
//   letter-spacing: 1.275px;
//   @include breakpoint(md) {
//     margin-left: 20px;
//   }
// }
